/* Styles */
body, input, select {
   font-family: monospace;
   line-height: 1.5vmax;
   margin: 0.1%;
   text-align: left;
   vertical-align: top;
}

/* Table */
.table {
    display: table;
    width: 99%;
    border-collapse: collapse;
}
/* Row */
.table div {
    display: table-row;
}
/* Cell */
.table div div {
    display: table-cell;
    border: solid #000000 0.1vmax;
    text-align: center;
    vertical-align: middle;
    padding: 0.1vmax;
    width: 20%;
}

.table div div.c4 {
    width: 79.99% !important;
}

.btnone {
    border-top: none !important;
}

/* form */
input, select, button {
    height: 90%;
    width: 80%;
}

input[type=color] {
    margin-top:0.5vmax;
    height: 2vmax;
}

/* canvas prev */
canvas {
    border: solid #000000 0.1vmax;
    margin: 0.1vmax;

    width: 35%;
}
