/* Styles */
body, input, select {
   font-family: monospace;
   line-height: 1.5vmax;
   margin: 0.1%;
   text-align: left;
   vertical-align: top;
}

/* Table */
.table {
    display: table;
    width: 99%;
    border-collapse: collapse;
}
/* Row */
.table div {
    display: table-row;
}
/* Cell */
.table div div {
    display: table-cell;
    border: solid #000000 0.1vmax;
    text-align: left;
    vertical-align: middle;
    padding: 0.1vmax;
}
